<script>
    export let artists;
</script>

<style>
    img {
        height: 80px;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: .8rem;
    }
</style>

<div class="row justify-content-center">
    <div class="col-11 col-md-7 col-lg-5">
        <div class="list-group">
            {#each artists as { name, src, reknown, bio }}
                <div class="list-group-item d-flex w-100 list-group-item-action align-items-center">
                    <img {src} alt="{`Photo of ${name}`}" class="rounded mr-3 d-block">
                    <div>
                        <h4 class="mb-0">{name}</h4>
                        <p class="text-muted mb-0">{reknown}</p>
                        <p class="mt-2">{bio}</p>
                    </div>
                </div>
            {:else}
                <p>No data</p>
            {/each}
        </div>
    </div>
</div>


<!--{#each artists as artist}-->
<!--    <div class="list-group-item d-flex w-100 list-group-item-action align-items-center">-->
<!--        <img src="{artist.src}" alt="{`Photo of ${artist.name}`}" class="rounded mr-3 d-block">-->
<!--        <div>-->
<!--            <h4 class="mb-0">{artist.name}</h4>-->
<!--            <p class="text-muted mb-0">{artist.reknown}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--{/each}-->
